<!DOCTYPE html>
<html>
<%- include('./partials/header', {title: 'Home Page'}); %>

<body>
  <% include ./partials/navbar %>

  <div class="container">
    <h1><%= title %></h1>
    <p>Welcome <%= name %></p>
    <p>Height: <%= attributes.height %> inches</p>
  </div>
  
  <% include ./partials/scripts %>
</body>

</html>